<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        お気に入りレシピ一覧
      </h5>
    </div>
  </div>

  <% if @customer.favorites.present? %>
    <div class="card-list-container">
      <div class="row">
        <%=render"public/recipes/recipes",recipes: @favorite_recipes%>
      </div>
    </div>
    <div class="row my-3">
      <div class="mx-auto"><%= paginate @favorite_recipes %></div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
      <p class="ml-3 my-3">お気に入りレシピはありません。</p>
      <p class="ml-3 my-3">レシピをいいねして自分だけのお気に入りレシピ一覧を作りましょう！</p>
      </div>
      <div class="col-xs-10 col-lg-6 mx-auto mb-5">
        <%= image_tag"flower2.jpg" ,class: "nosearch-image"%>
      </div>
    </div>
  <% end %>
</div>
