<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 my-5">
        退会お手続き
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-9 col-12 offset-md-2 mb-3 mx-auto">
      <h6 class="text-center">退会手続きをされますと、全てのサービスがご利用いただけなくなります。</h6>
      <h6 class="text-center">再度ご利用をいただく場合は、新規会員登録のお手続きが必要になります。</h6>
      <h6 class="text-center">退会される場合は「退会する」をクリックしてください。</h6>
    </div>
  </div>
  <div class="row py-5 form-group">
    <div class="col-lg-6 col-md-8 col-12 mx-auto unsubscribe-btn">
      <%= link_to "退会しない", customer_path(current_customer.id), class: "btn btn-blue" %>
      <%= link_to "退会する", withdraw_path(current_customer.id), method: :patch, "data-confirm"=>"本当に退会しますか？", class: "btn btn-red" %>
    </div>
  </div>
</div>
