<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        レシピ一覧
      </h5>
    </div>
  </div>

  <div class="card-list-container">
    <div class="row">
      <%=render"recipes",recipes: @recipes%>
    </div>
  </div>

  <div class="row my-3">
    <div class="mx-auto"><%= paginate @recipes %></div>
  </div>
</div>
