<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        掲示板
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-10 mx-auto">
      <%=render"forums",forums: @forums%>
    </div>
  </div>

  <div class="row my-3">
    <div class="mx-auto"><%= paginate @forums %></div>
  </div>
</div>
