<% recipe.comments.each do |comment| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td><%= image_tag comment.get_comment_image(100,100) %></td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.customer==current_customer %>
            <%= link_to recipe_comment_path(comment.recipe,comment),method: :delete,remote: true,class: "btn btn-sm btn-danger" do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
