$('#comment_list').html("<%= j(render"public/comments/comment_list",comments: @comments) %>");
<% if @comments.count <= 0 %>
  $('#comment_list').html('<p class="ml-5 my-5">〜レシピレビューはありません〜</p>')
<% end %>
