<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi2 pl-3 pr-4 mt-5">
        投稿レシピ一覧
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 my-2">
      <%= render"admin/recipes/admin_recipes",recipes: @recipes %>
    </div>
  </div>
  <div class="row my-3">
    <div class="mx-auto"><%= paginate @recipes %></div>
  </div>
</div>
