<%= form_with model: tag, url: admin_tags_path,local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, autofocus: true, :placeholder=>"タグ名を入力", class: "form-control w-75" %>
  </div>
  <div class="form-group">
    <%=f.submit"新規登録",class: "btn btn-blue"%>
  </div>
<% end %>