@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;
}

main {
  flex: 1;
  background-color: #fffff0;
}

.flash{
   background-color: #dc143c;
   color: #fff;
   text-align: center;
}

.flash{
  .notice {
   background-color: #ffb6c1;
   color: #fff;
   text-align: center;
 }
}

.error-message {
  color: #dc143c;
}

.error-box {
  background-color: #ffe4e1;
  border-radius: 10px;
}

.error-list {
  list-style: none;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  background-color: #fffff0;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  appearance: none;
  cursor: pointer;

  &,
  span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  span {
    position: absolute;
    left: 5px;
    width: 80%;
    height: 2px;
    background-color: rgba(165, 165, 165, 1);
    border-radius: 1px;

    &:nth-of-type(1) {
      top: 8px;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      top: 32px;
    }
  }
}

.navbar-toggler[aria-expanded='true'] {
  span.navbar-toggler-icon {
    span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-12px) rotate(315deg);
      }
    }
  }
}

.nav-link {
  color: #006400;
  background-color: #fffff0;
  border-color: #3cb371;
}

.nav-link:hover {
  color: #2f4f4f;
}

.search {
  text-align: right;
  margin-bottom: -15px;
}

.search-form {
  border-radius: 15px;
  border-color: #008000;
  background-color: #fffff0;
}

.btn-search {
  color: #fff;
  margin-left: -10px;
}

.btn-search:hover {
  color: #ffd700;
}

.nosearch-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.about-heading {
  color: #2f4f4f;
  font-weight: bold;
}

.about-text {
  color: #2f4f4f;
  font-weight: bold;
  background: linear-gradient(transparent 50%, #ffff66 0%);
  line-height: 1.3em;
}

.about-image {
  border-radius: 20%;
}

.about-icon {
  color: #db7093;
}

/* abautページフェードイン */
.js-fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.8s, transform 1.8s;
}

.js-fadeUp.is-inview {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .5s;
}
/* */

.midashi, .midashi2 {
  display: inline-block;
  position: relative;
  line-height: 50px;
  text-align: center;
  background-color: #ffd700;
  color: #2f4f4f;
  box-sizing: border-box;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  animation: midashiAnimation 1.8s;
  font-family: 'RocknRoll One', sans-serif;
}

.midashi:after, .midashi2:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
  /*山形*/
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.midashi2 {
  background-color: #ffb6c1;
}

.devise-form {
  width: 100%;
}

.kochira-link {
  text-decoration: underline;
}

.customer-text {
  font-weight: bold;
  color: #2f4f4f;
}

/* ボタンデザイン */
.btn-rise:hover {
  transform: translateY(-5px);
}

.btn-green {
  background-color: #fff;
  color: #006400;
  border-color: #006400;
  border-width: 4px;
}

.btn-green:hover {
  background-color: #006400;
  color: #fff;
 }

.btn-red {
  background-color: #fff;
  color: #dc143c;
  border-color: #dc143c;
  border-width: 4px;
}

.btn-red:hover {
  background-color: #dc143c;
  color: #fff;
}

.btn-blue {
  background-color: #fff;
  color: #4169e1;
  border-color: #4169e1;
  border-width: 4px;
}

.btn-blue:hover {
  background-color: #4169e1;
  color: #fff;
}

.btn-yellow {
  background-color: #fff;
  color: #d2691e;
  border-color: #ffa500;
  border-width: 4px;
}

.btn-yellow:hover {
  background-color: #ffa500;
  color: #fff;
}

.btn-circle {
  border-radius: 50%;
  border-width: 2px;
}

.social-btn {
  float: right;
}

.btn-twitter {
  color: #00bfff;
}

.btn-twitter:hover {
  color: #4682b4;
}

.btn-line {
  color: #32cd32;
}

.btn-line:hover {
  color: #228b22;
}

.btn-facebook {
  color: #4169e1;
}

.btn-facebook:hover {
  color: #191970;
}

.btn-new {
  color: #fff;
  background-color: #3cb371;
  border-color: #2e8b57;
  border-width: 3px;
  transition: .3s ease-in-out;
}

.btn-new:hover {
  background-color: #fff;
  border-color: #3cb371;
  color: #3cb371;
  animation: bounce 2s ease-in-out;
}
@keyframes bounce {
  5%  { transform: scale(1.1, .8); }
  10% { transform: scale(.8, 1.1) translateY(-5px); }
  15% { transform: scale(1, 1); }
}

.btn-login {
  color: #fff;
  background-color: #4169e1;
  border-color: #6495ed;
  border-width: 3px;
  transition: .3s ease-in-out;
}

.btn-login:hover {
  background-color: #fff;
  border-color: #4169e1;
  color: #4169e1;
  animation: bounce 2s ease-in-out;
}
@keyframes bounce {
  5%  { transform: scale(1.1, .8); }
  10% { transform: scale(.8, 1.1) translateY(-5px); }
  15% { transform: scale(1, 1); }
}

.btn-success:hover {
  color: #008000;
  background-color: #fff;
  border-color: #008000;
  border-width: 3px;
}
/* */

.table-hover tbody tr:hover td {
  background-color: rgba(144,238,144,0.3);
}

.my-recipe {
  width: 90%;
  color: #2f4f4f;
  border: 4px solid #ffd700;
  border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

.customer-image {
  width: 280px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
}

.customer-edit-btn, .unsubscribe-btn {
  display: flex;
  justify-content: space-around;
}

.recipe-customer-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.comment-customer-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.comment-image {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 10%;
}

/* 投稿画像のプレビュー */
#preview {
  width: 100%;
  height: auto;
}

#customer-preview {
  width: 280px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
}

#customer-image-preview {
  display: flex;
  justify-content: center;
}
/* */

.recipe-form {
  border: none;
  background-color: #fffff0;
  transition: background-color 10000s ease-in-out 0s;
}

.step-form {
  width: 100%;
}

.recipe-table {
  border-bottom: 1px solid #d2b48c;
}

.recipe-frame {
  border-color: #d2b48c;
}

.comment-heading, .recipe-heading {
  font-weight: bold;
  color: #2f4f4f;
  border-bottom: 2px solid;
}

.recipe-heading {
  font-size: 110%;
  border-color: #3cb371;
}

.comment-heading {
  font-size: 120%;
  border-color: #ffd700;
}

.name-link {
  color: #696969;
}

.name-link:hover {
  text-decoration: underline #696969;
}

.fav-link {
  color: #444444;
}

.fav-link2 {
  color: #1e90ff;
}

.card:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s
}

.card-body {
  background-color: #ffe4e1;
}

.card-title {
  color: #4169e1;
  font-weight: bold;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-icon {
  color: #001F5B;
  margin-top: 10px;
  margin-bottom: -1px;
}

.recipe-text {
  color: #191970;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipe-count {
  font-weight: bold;
  font-size: 150%;
}

.recipe-show-image {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
}

.tag-head {
  color: #2f4f4f;
  font-weight: bold;
}

.tag-button {
  background-color: #f5deb3;
  color: #2f4f4f;
  border: 2px solid #d2b48c;
  border-radius: 10%;
  display: inline-block;
  margin-top: 10px;
}

.inquiry-title {
  color: #008000;
  font-weight: bold;
}

.inquiry-link {
  color: #ffffe0;
}

.inquiry-link:hover {
  color: #ffd700;
}

/* ページネーションのデザイン */
.paginate {
  text-align: center;
}

.pagination>li>a {
  margin-right: 5px;
  border: solid 3px #d2b48c;
  color: #a0522d;
  font-weight: bold;
}

.pagination>.active>.page-link {
  background-color: #d2b48c;
  border-color: #d2b48c;
}

.pagination>.active>.page-link:hover {
  background-color: #d2b48c;
  border-color: #c0c0c0;
}

.pagination>li>a:hover {
  border-radius: 15px;
  background-color: #d2b48c;
  color: #fff;
}
/* */

/* トップに戻るボタン */
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.pagetop{
  width: 50px;
  height: 50px;
  z-index: 10000;
}
/* */

header, footer{
  background-color: #3cb371;
}

.footer-box {
  display: block;
  text-align: center;
}

.footer-text {
  color: #2f4f4f;
}

/* レスポンシブ対応 */
@media screen and (max-width: 425px) {
  .about-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .btn-new {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .btn-login {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .admin-recipes {
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 576px) {
  .tag-table {
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 768px) {
  .comment-form {
    display: flex;
    justify-content: right;
  }
}
