@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  // font-family: 'Yusei Magic', sans-serif;
  // font-family: 'Zen Maru Gothic', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
}

main {
  flex: 1;
  background-color: #fffff0;
}

.flash{
  .notice {
   background-color: #ff8c00;
   color: #fff;
   text-align: center;
 }
}

.error-message {
  color: #ff0000;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  background-color: #fffff0;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  appearance: none;
  cursor: pointer;

  &,
  span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  span {
    position: absolute;
    left: 5px;
    width: 80%;
    height: 2px;
    background-color: rgba(165, 165, 165, 1);
    border-radius: 1px;

    &:nth-of-type(1) {
      top: 8px;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      top: 32px;
    }
  }
}

.navbar-toggler[aria-expanded='true'] {
  span.navbar-toggler-icon {
    span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-12px) rotate(315deg);
      }
    }
  }
}

.nav-link {
  color: #006400;
  background-color: #fffff0;
  border-color: #3cb371;
}

.nav-link:hover {
  color: #2f4f4f;
}
.midashi {
  display: inline-block;
  position: relative;
  line-height: 50px;
  text-align: center;
  background-color: #ffd700;
  color: #2f4f4f;
  box-sizing: border-box;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.midashi:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
  /*山形*/
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.kochira-link {
  text-decoration: underline;
}
.customer-name {
  font-weight: bold;
  color: #2f4f4f;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn-green {
  background-color: #fff;
  color: #006400;
  border-color: #006400;
  border-width: 4px;
}

.btn-green:hover {
  background-color: #006400;
  color: #fff;
 }

.btn-red {
  background-color: #fff;
  color: #dc143c;
  border-color: #dc143c;
  border-width: 4px;
}

.btn-red:hover {
  background-color: #dc143c;
  color: #fff;
}

.btn-blue {
  background-color: #fff;
  color: #4169e1;
  border-color: #4169e1;
  border-width: 4px;
}

.btn-blue:hover {
  background-color: #4169e1;
  color: #fff;
}

.btn-yellow {
  background-color: #fff;
  color: #2e8b57;
  border-color: #ffa500;
  border-width: 4px;
}

.btn-yellow:hover {
  background-color: #ffa500;
  color: #fff;
}

.btn-circle {
  border-radius: 50%;
  border-width: 2px;
}

.my-recipe {
  width: 90%;
  color: #2f4f4f;
  border: 4px solid #ffd700;
  border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

/* レシピ投稿画像のプレビューサイズ */
#preview {
  width: 100%;
  height: auto;
}

.recipe-form {
   border: none;
   background-color: #fffff0;
 }

.recipe-frame {
  border-color: #d2b48c;
}
.recipe-table {
  border-bottom: 1px solid;
  border-color: #d2b48c;
}

.recipe-heading {
  font-weight: bold;
  font-size: 110%;
  color: #2f4f4f;
  border-bottom: 2px solid;
  border-color: #3cb371;
}

.comment-heading {
  font-weight: bold;
  font-size: 120%;
  color: #2f4f4f;
  border-bottom: 2px solid;
  border-color: #ffd700;
}

.name-link {
  color: #696969;
  text-decoration: underline;
}
// .card {
//   width:200px;
//   height:250px;
//   margin:10px;
//   position:relative;
// }

// .card:hover{
//   box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
//   transform: translateY(-10px);
//   transition-duration: 0.5s
// }

.card-body {
  background-color: #ffe4e1;
}

.card-title {
  color: #2f4f4f;
  font-weight: bold;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipe-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ページネーションのデザイン */
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

/* トップに戻るボタン */
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.pagetop{
  width:      50px;
  height:     50px;
}

header, footer{
  background-color: #3cb371;
}

.footer-text {
  color: #2f4f4f;
}
