<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h4 class="inquiry-done mt-5">
        お問い合せいただきありがとうございます！
      </h4>
      <h4 class="inquiry-done">
        送信しました <i class="fas fa-envelope"></i>
      </h4>
    </div>
  </div>
</div>
