<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi2 pl-3 pr-4 mt-5">
        掲示板一覧
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-10 mx-auto mt-3">
      <ul class="nav nav-pills mb-2">
        <li class="nav-item">
          <%= link_to "新着順", admin_forums_path(latest: true) ,class: "nav-link new-nav mr-2" %>
        </li>
        <li class="nav-item">
          <%= link_to "通報の多い順", admin_forums_path(forum_report: true) ,class: "nav-link report-nav" %>
        </li>
      </ul>
      <%=render"admin_forums",forums: @forums%>
    </div>
  </div>
  <div class="row my-3">
    <div class="mx-auto"><%= paginate @forums %></div>
  </div>
</div>
