/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'swiper/swiper-bundle';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Otomanopee+One&display=swap');

.swiper-image {
  width: 100%;
  border-radius: 2%;
}

.swiper-all {
  position: relative;
}

.swiper-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);;
  width: 60%;
  border-radius: 2%;
  text-align: center;
  z-index: 5000;
  height: 18rem;
  background-color: rgba(7,1,8,0.6);
}

.swiper-text {
  padding-top: 4rem;
  font-size: 5rem;
  color: #008000;
  font-family: 'Otomanopee One', sans-serif;
  text-shadow: 4px 3px 0px #fff,
               9px 8px 0px rgba(0,0,0,0.15);
}

@media screen and (max-width:1023px) {
  .swiper-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width:767px) {
  .swiper-box {
    background-color: rgba(7,1,8,0.3);
    height: 5rem;
  }
  .swiper-text {
    font-size: 2rem;
    padding: 15px 5px 0 5px;
  }
}
