$("#forum_comment_list").html("<%= j(render"admin/forum_comments/forum_comment_list", forum_comments: @forum_comments) %>");
<% if @forum_comments.count <= 0 %>
  $('#forum_comment_list').html('<p class="ml-5 my-5">〜コメントはありません〜</p>')
<% end %>
