<%= form_with model: forum_comment, url: forum_forum_comments_path(forum), method: :post, local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :forum_comment, rows: "2", placeholder: "コメントはこちら" ,class: "form-control"%>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
  </div>
  <div class="form-group text-right">
    <%= button_tag type: 'submit',class: "btn btn-sm btn-green" do%>
      <i class="fas fa-paper-plane"></i> 送信
    <% end %>
  </div>
<%end%>